appdirs==1.4.4
arandr==0.1.10
asn1crypto==1.4.0
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
btrfsutil==5.9
CacheControl==0.12.6
cffi==1.14.4
chardet==3.0.4
click==7.1.2
click-log==0.3.2
click-threading==0.4.4
cloudpickle==1.6.0
colorama==0.4.4
coloredlogs==14.0
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==3.3.1
cycler==0.10.0
decorator==4.4.2
dill==0.3.3
discid==1.2.0
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
filelock==3.0.12
future==0.18.2
getch==1.0
greenlet==0.4.17
gym==0.17.3
html5lib==1.1
humanfriendly==9.0
icalendar==4.0.7
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
keyutils==0.6
khal==0.10.2
khard==0.17.0
kiwisolver==1.3.1
lensfun==0.3.95
lit==0.11.0.dev0
louis==3.15.0
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.0.3
minerl==0.3.6
msgpack==1.0.0
mutagen==1.45.1
netsnmp-python==1.0a1
numpy==1.19.4
opencv-python==4.4.0.46
opendht==2.1.6
ordered-set==4.0.2
packaging==20.7
parso==0.7.1
pep517==0.9.1
pexpect==4.8.0
picard==2.5.5
pickleshare==0.7.5
Pillow==8.0.1
pluggy==0.13.1
ply==3.11
progress==1.5
prompt-toolkit==3.0.8
psutil==5.7.3
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.20.0
pycparser==2.20
pyglet==1.5.0
Pygments==2.7.3
PyGObject==3.38.0
pygraphviz==1.6
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyPEG2==2.15.2
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
Pyro4==4.80
pytaglib==1.4.6
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.1
python-libtorrent==1.2.10
pytils==0.3
pytz==2020.4
pywal==3.3.0
pyxdg==0.27
PyYAML==5.3.1
qutebrowser==1.14.1
ranger-fm==1.9.3
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
resolvelib==0.5.3
retrying==1.3.3
ruamel.yaml==0.16.12
scipy==1.5.4
serpent==1.30.2
six==1.15.0
team==1.0
termcolor==1.1.0
tldextract==3.1.0
toml==0.10.2
tools==0.1.9
tqdm==4.54.1
traitlets==5.0.5
typing==3.7.4.3
tzlocal==2.1
udiskie==2.2.0
ujson==4.0.1
Unidecode==1.1.1
urllib3==1.25.10
urwid==2.1.2
vdirsyncer==0.16.9.dev0+gb5dd092.d20201113
vobject==0.9.6.1
wcwidth==0.2.5
webencodings==0.5.1
youtube-dl==2020.12.14
